h1 {
	font-size: 90px !important;
}

html, body{
	background: #fbfbfb url(../images/texture-white.jpg) fixed;
	color:#333;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: bold !important;
	width: 100%;
    height: 100%;
    overflow: hidden;
}
.title-left{
	width: 300px;
	height: auto;
	float:left;
}

.reveal .footer {
    display: block;
    position: absolute;
    bottom: 16px;
    left: 50%;
    margin-left: -139px;
    z-index: 20;
}