h1 {
	font-size: 90px !important;
}

body{
	background-color:black;
	color:white;
	font-family: 'Merriweather Sans', sans-serif;
	font-weight: bold !important;
}
.title-left{
	width: 300px;
	height: auto;
	float:left;
}